# Copyright 2019-present Kuei-chun Chen. All rights reserved.
# docker-compose.yaml

services:
  grafana-ftdc:
    image: simagix/grafana-ftdc:latest
    hostname: grafana-ftdc
    ports:
      - "3030:3000"
    environment:
      GF_PLUGINS_PREINSTALL: simpod-json-datasource
      GF_LOG_LEVEL: error
      GF_AUTH_ANONYMOUS_ENABLED: "true"
      GF_AUTH_ANONYMOUS_ORG_ROLE: Admin

  ftdc:
    image: simagix/ftdc:latest
    hostname: ftdc
    ports:
      - "5408:5408"
    volumes:
      - ./diagnostic.data:/diagnostic.data
    command: /ftdc_json /diagnostic.data
